body {
    font-family: muli;
    background-color:aquamarine;
    background: linear-gradient(to right,#1cb9ce,rgba(148, 157, 241, 0.72) 50%,rgba(248, 64, 122, 0.72)), url('https://images.pexels.com/photos/3634855/pexels-photo-3634855.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
}
.nav-bar {
    font-size: 27px;
    font-weight: bold;
    background-color: rgba(255,0,255,0.2);
    margin: 30px 0px 30px 0px;
}
.logo {
    float: left;
    padding: 10px 0;
}
.nav-bar::after {
    content: '';
    display: table;
    clear: both;
}
nav {
    float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;  
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 105px;
    font-family: 'Sedgwick Ave';
    font-size: 40px;
    color: rgb(35, 177, 177);
}
 nav a {
    padding: 10px 30px 10px 30px;
    color: rgba(167, 245, 245, 0.8);
    text-decoration: none;
}
nav a:hover {
    color:rgba(66, 63, 66, 0.493);
}
h1 {
    font-family: muli;
    font-size: 40px;
    font-weight: bold;
    color: black;
}